[Desktop Entry]
Type=Service
Name=Input Method Starter
ServiceTypes=KDEDModule
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=imlauncher
X-KDE-FactoryName=imlauncher
X-KDE-DBus-ModuleName=imlauncher
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-autoload=true
Comment=Start Input Method
